body, header, p, div, article, h1, h2,
section, button, img, h4, ul, li, form,
input, footer{
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Rokkitt', serif; */
}

body > header,
body > footer {
    background: rgba(55, 134, 44);
    height: 9em;
}

header p,
footer p {
    color: white;
    font-size: 3em;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.featured-articles-container {
    position: relative;
}

.featured-articles-teaser {
    background-color: white;
    left: 50%;
    margin-left: -200px;
    margin-top: 40px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    top: 0;
    width: 400px;
}

.featured-articles {
    display: grid;
    grid-auto-rows: 45em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5fr 4fr;
}

.featured-articles a {
    color: white;
    text-decoration: none;
}

.featured-article {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.featured-article > p,
.featured-article-title {
    margin-bottom: 30px;
}


.featured-article p {
    font-size: 1.2em;
}

.featured-article:nth-child(1) {
    background-color: rgb(185, 53, 53);
    
}

.featured-article:nth-child(2) {
    background-color: rgb(201, 37, 37);
}

.featured-article:nth-child(3) {
    background-color: rgb(226, 60, 60);
    
}

.featured-article:nth-child(4) {
    background-color: rgb(226, 98, 98);
}

.latest-articles-container {
    display: grid;
    grid-auto-rows: 45em;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 70px 0 70px;
}

.latest-article {
    padding: 40px;
    position: relative;
}

.arrow {
    bottom: 0;
    color: rgb(201, 37, 37);
    font-size: 2em;
    left: 0;
    padding: 20px 40px;
    position: absolute;
    text-align: center;
}



.latest-article-title,
.curated-article-title,
.featured-article-title {
    font-size: 2em;
}

.latest-article-title a,
.curated-article-title a {
    color: black;
}

.latest-article-title {
    text-decoration: underline;
}

.curated-article-title a{
    text-decoration: none;
}

.latest-article p,
.shared-article p {
    font-size: 1.3em;
}

.latest-article-title,
.latest-article > p,
.latest-article > div,
.shared-article > p,
.curated-article-title {
    margin-bottom: 20px;
}

.byline {
    font-size: 0.8em;
    font-weight: bold;
}

.byline a {
    color: black;
}



.membership-promo,
.tv-promo, 
.newsletter-promo {
    background: rgb(201, 37, 37);
    border-radius: 10px;
    color: white;
    grid-column: auto / span 2;
    padding: 25px 35px;
    text-align: center;
}

.feature-panel {
    background: rgb(226, 44, 44);
    color: white;
    display: grid;
    grid-auto-rows: 25em;
    grid-template-columns: 2fr 1fr;
    padding: 30px 50px;
}

.book-cover img {
    height: auto;
    position: relative;
    right: -200px;
    top: -80px;
    width: 250px;
}

.book-details p {
    font-size: 1.3em;
}

.feature-heading,
.book-title,
.book-details > p,
.book-details > button {
    margin: 20px 0;
}

.membership-promo img,
.tv-promo img {
    height: auto;
    width: 45%;
}

.newsletter-promo img {
    height: auto;
    width: 30%;
}

.membership-promo > div,
.promo-title,
.membership-promo > p,
.membership-promo > button,
.tv-promo > div,
/* .tv-promo > h1, */
.tv-promo > p,
.tv-promo > button,
/* .newsletter-promo > h1, */
.newsletter-promo > p,
.newsletter-promo > div,
.newsletter-promo > form {
    margin-bottom: 20px;
}

.promo-title,
.conf-title,
.book-title {
    font-size: 3em;
}

.membership-promo a,
.tv-promo a,
.newsletter-promo a {
    color: white;
}

.membership-promo p,
.tv-promo p,
.newsletter-promo p {
    font-size: 1.4em;
}

button {
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    height: 40px;
    margin: 0 auto;
    width: 200px;
}

.membership-promo p:last-of-type,
.tv-promo p:last-of-type,
.newsletter-promo p:last-of-type {
    font-size: 1em;
} 

.load-more {
    margin: 80px auto;
    text-align: center;
    width: 400px;
}

.load-more a {
    border-bottom: 4px solid rgb(201, 37, 37);
    color: black;
    padding-bottom: 10px; 
    text-decoration: none;
}

.conf-panel {
    background: blue;
    color: white;
    height: 30em;
    padding: 50px 200px;
    text-align: center;
 }

.conf-panel > p,
.conf-title,
.conf-panel > button {
    margin-bottom: 40px;
}

.conf-panel  a {
    color: white;
}

.conf-panel p:first-child > span,
.conf-panel p:first-child > time {
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    text-transform: uppercase; 
}

.conf-panel p:nth-of-type(2) {
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.conf-panel button,
.book-details button{
    background-color: white;
    color: blue;
    font-size: 1.5em;
    height: 3.5em; 
    width: 400px;
}

.curated-articles-container {
    display: grid;
    grid-auto-rows: 20em;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 40px; 
}



.person-of-the-week {
    grid-column: 1 / -1;
    padding: 50px 200px;
    
}
.person-of-the-week img {
    float: left;
    height: auto;
    margin-right: 30px;
    width: 150px;
}

.person-of-the-week p {
    font-size: 1.3em;
}

.curated-special  {
    font-weight: 100;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.shared-article {
    padding: 0 10px 0 50px; 
}

.shared-article > p,
.curated-article-title {
    margin-bottom: 1em;
}

.guides-container {
    display: grid;
    grid-auto-rows: min-max(35em, max-content);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 50px;
}

.tut-cat-title {
    font-size: 2em;
    margin-bottom: 20px; 
}

.guide-titles {
    margin-left: 40px;
    margin-top: 40px;
}

.guide-titles li {
    font-size: 1.4em;
    margin-bottom: 15px; 
    margin-top: 15px;
}

.newsletter-promo {
    grid-column: 1 / -1;
}

.newsletter-promo input {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 40px;
}
