* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    height: 4em;
    background: rgba(187, 35, 35, 0.6);
}

h1 {
    font-size: 1.5em;
    background-color: white;
}

.featured-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 30em;
}

.featured-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.featured-article > h2 {
    margin-top: 30px;
}

.latest-articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 100px 70px;
}

.membership-promo {
    grid-column: 1 / span 2;
    background: red;
}





.featured-article:nth-child(1) {
    background-color: rgb(226, 98, 98);
}

.featured-article:nth-child(2) {
    background-color: rgb(226, 60, 60);
}

.featured-article:nth-child(3) {
    background-color: rgb(201, 37, 37);
}

.featured-article:nth-child(4) {
    background-color: rgb(185, 53, 53);
}